            /* GENERAL STYLE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
p{
    font-size: 20px;
}
/* UTILITIES */
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}
.px-16{
    padding-left: 16px;
    padding-right: 16px;
}
.mb-30{
    margin-bottom: 30px;
}
.mt-30{
    margin-top: 30px;
}
.border15{
    border-radius: 15px;
}

/* SECTION-TOP */
  /* HEADER-TOP */
header img{
    width: 170px;
}
header nav li {
    text-transform: uppercase;
    display: inline-block;
    margin-right: 15px;
}
header li a {
    color: #a8a8a8;
    text-decoration: none;
}
header li a:hover {
    color: black;
}
.bg-top{
    width: 100%;
    height: 800px;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.top-img-text{
    position: absolute;
    left: 60px;
    bottom: 100px;
    width: 45%;
    color: #fff;
    font-size: 25px;
}
/* SECTION-BOTTOM */
.section-bottom{
    width: 100%;
    padding-bottom: 20px;
}

.section-bottom h1{
    font-size: 40px;
    font-family: sans-serif;
}

.section-bottom p{
    color: #a8a8a8;
}
.sidebar-left, .sidebar-right, .central-content{
    float: left;
}

.sidebar-left, .sidebar-right{
    width: 20%;
}
.central-content{
    width: 60%;
}

.section-bottom h2{
    padding-top: 15px;
    padding-bottom: 15px;
}
/* FOOTER */
footer{
    text-align: center;
    font-weight: bold;
}
footer span::after{
    content: '\2665';
    color: red;
    font-size: 30px;
}
.content-img{
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.content-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-img::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0,0,0,0.1);
}